<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Advances PHP-2016. Home Works</title>
</head>
<body>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>