<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Advances PHP-2016. HW 4. Data Bases.</title>
</head>
<body>
    <div>
        <b style="color: red"> {{ message }} </b>
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>